body{
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: url('./images/landscapecut.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 600;
    
}


.searchField{
    position: relative;
    width: 500px;
    padding-top: 2rem;
    padding-left: 135px;
    display: flex; 
    align-items: center;
    
}
.searchBar{
    flex: 1;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    height: 40px;
    background: #ffffffad;
    color: black;
    border-color: #ffffff38;  
    box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    
}
.searchBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 35px;
}
.searchBar::placeholder{
    color: black;
}
.searchBar::placeholder{
    font-size: 16px;
    font-weight: 600;
}
.searchBar:focus{
    outline: none;
}
.searchBtn-image{
    width: 25px;
    height: 25px;
}
.errorMessage{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*----------------------------*/


.weatherBody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-right: 20px;
    margin-top: 20px;
    
}
.boxColumnsWeatherBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.city{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -20px;
}
.tempAndDegrees{
    display: flex;
    justify-content: center;
    
}
.celsiusSymbol{
    position: relative;
    top: -15px;
    font-size: 25px;
    
}
.temp{
    padding-left: 20px;
    font-size: 80px;
    font-weight: 400;
}
.weatherInfo{
    padding-left: 5px;
    font-size: 20px;
}
.sunImage{
    width: 200px;
    height: 200px;
}

/*---------------------------------*/
.lineBreak{
    margin-bottom: -35px;
    border-color: #ffffffd0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
/*---------------------------------*/

.weatherDetails{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-bottom: -15px;
}
.humidity{
    display: flex;
    margin-left: 29px;
    margin-top: -10px;
}
.wind{
    display: flex;
    margin-top: -10px;
}
.sunrise{
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}
.sunset{
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}

/*----------------------------*/

.attributionBtn{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    
}