.weaklyWeatherReporBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    padding-left: 10px;
    
  }
.boxOne{
    height: 120px;
    width: 140px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 10px;
    background: #ffffffad;
    border-color: #ffffff38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    
}
.boxTwo{
    height: 120px;
    width: 140px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 10px;
    background: #ffffffad;
    border-color: #ffffff38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.boxThree{
    height: 120px;
    width: 140px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 10px;
    background: #ffffffad;
    border-color: #ffffff38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.boxFour{
    height: 120px;
    width: 140px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 10px;
    background: #ffffffad;
    border-color: #ffffff38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.boxFive{
    height: 120px;
    width: 140px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 10px;
    background: #ffffffad;
    border-color: #ffffff38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.boxDay{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.boxTemp{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.boxDesc{
    display: flex;
    justify-content: center;
    margin-top: 3px;
    
}