body{
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: url('./images/landscapecut.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.searchField{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 500px;
    padding-top: 1rem;
    position: relative;
}
.searchBar{
    flex: 1;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    height: 40px;
    background: none;
    color: black;
    border-color: black;  
}
.searchBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-top: 15px;
  }
.searchBar::placeholder{
    color: black;
}
.searchBar::placeholder{
    font-size: 16px;
}
.searchBar:focus{
    outline: none;
}
.searchBtn-image{
    width: 25px;
    height: 25px;
}
.errorMessage{
    display: flex;
    justify-content: center;
}

/*----------------------------*/


.weatherBody{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    padding-left: 50px;
}
.city{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: -20px;
}
.tempDegrees{
    display: flex;
    justify-content: center;
}
.celsiusSymbol{
    position: relative;
    top: -15px;
    font-size: 25px;
    
}
.temp{
    padding-left: 20px;
    font-size: 80px;
}
.weatherInfo{
    padding-left: 35px;
    font-size: 20px;
}
.sunImage{
    width: 200px;
    height: 200px;
}

/*---------------------------------*/

.weatherDetails{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 25px;
    margin-bottom: -15px;
}
.lineBreak{
    margin-bottom: -35px;
}
.humidity{
    display: flex;
    margin-left: 29px;
    margin-top: -10px;
}
.wind{
    display: flex;
    margin-top: -10px;
}
.sunrise{
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}
.sunset{
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}


.attributionBtn{
    border-radius: 40px;
    height: 30px;
    cursor: pointer;
}